@charset "UTF-8";

@font-face {
  font-family: "cf";
  src:url("../fonts/cf.eot");
  src:url("../fonts/cf.eot?#iefix") format("embedded-opentype"),
    url("../fonts/cf.woff") format("woff"),
    url("../fonts/cf.ttf") format("truetype"),
    url("../fonts/cf.svg#cf") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "cf" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="cf-"]:before,
[class*=" cf-"]:before {
  font-family: "cf" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cf-envelope:before {
  content: "\61";
}
.cf-envelope-o:before {
  content: "\62";
}
.cf-phone-square:before {
  content: "\63";
}
.cf-phone:before {
  content: "\64";
}
.cf-mobile:before {
  content: "\65";
}
.cf-bars:before {
  content: "\73";
}
.cf-list-ul:before {
  content: "\74";
}
.cf-list-alt:before {
  content: "\75";
}
.cf-calendar:before {
  content: "\76";
}
.cf-calendar-1:before {
  content: "\77";
}
.cf-road:before {
  content: "\78";
}
.cf-chevron-down:before {
  content: "\79";
}
.cf-chevron-left:before {
  content: "\7a";
}
.cf-chevron-right:before {
  content: "\41";
}
.cf-chevron-up:before {
  content: "\42";
}
.cf-check:before {
  content: "\43";
}
.cf-chevron-circle-up:before {
  content: "\44";
}
.cf-chevron-circle-right:before {
  content: "\45";
}
.cf-chevron-circle-left:before {
  content: "\46";
}
.cf-chevron-circle-down:before {
  content: "\47";
}
.cf-users:before {
  content: "\48";
}
.cf-user:before {
  content: "\49";
}
.cf-users-1:before {
  content: "\4a";
}
.cf-users-2:before {
  content: "\4b";
}
.cf-user-1:before {
  content: "\4c";
}
.cf-user-2:before {
  content: "\4e";
}
.cf-002-first-aid-circular-button:before {
  content: "\4f";
}
.cf-angle-up:before {
  content: "\50";
}
.cf-angle-right:before {
  content: "\51";
}
.cf-angle-left:before {
  content: "\52";
}
.cf-angle-down:before {
  content: "\53";
}
.cf-linkedin-square:before {
  content: "\54";
}
.cf-minus-square:before {
  content: "\55";
}
.cf-pause:before {
  content: "\56";
}
.cf-briefcase:before {
  content: "\57";
}
.cf-book:before {
  content: "\58";
}
.cf-bookmark:before {
  content: "\59";
}
.cf-bell:before {
  content: "\5a";
}
.cf-bell-o:before {
  content: "\30";
}
.cf-arrow-down:before {
  content: "\31";
}
.cf-arrow-left:before {
  content: "\32";
}
.cf-arrow-right:before {
  content: "\33";
}
.cf-arrow-up:before {
  content: "\34";
}
.cf-check-square:before {
  content: "\37";
}
.cf-comment:before {
  content: "\39";
}
.cf-cloud-download:before {
  content: "\21";
}
.cf-cloud-upload:before {
  content: "\22";
}
.cf-code:before {
  content: "\23";
}
.cf-cog:before {
  content: "\24";
}
.cf-cogs:before {
  content: "\25";
}
.cf-external-link:before {
  content: "\26";
}
.cf-external-link-square:before {
  content: "\27";
}
.cf-file:before {
  content: "\28";
}
.cf-eye:before {
  content: "\29";
}
.cf-eye-slash:before {
  content: "\2a";
}
.cf-file-text:before {
  content: "\2b";
}
.cf-file-text-o:before {
  content: "\2c";
}
.cf-file-word-o:before {
  content: "\2d";
}
.cf-files-o:before {
  content: "\2e";
}
.cf-folder:before {
  content: "\2f";
}
.cf-folder-open:before {
  content: "\3a";
}
.cf-folder-o:before {
  content: "\3b";
}
.cf-folder-open-o:before {
  content: "\3c";
}
.cf-floppy-o:before {
  content: "\3d";
}
.cf-map:before {
  content: "\3e";
}
.cf-map-marker:before {
  content: "\3f";
}
.cf-picture-o:before {
  content: "\40";
}
.cf-picture:before {
  content: "\5b";
}
.cf-picture-streamline-1:before {
  content: "\5d";
}
.cf-photo:before {
  content: "\5e";
}
.cf-picture-streamline:before {
  content: "\5f";
}
.cf-h-square:before {
  content: "\60";
}
.cf-get-pocket:before {
  content: "\7b";
}
.cf-hand-o-down:before {
  content: "\7c";
}
.cf-hand-o-left:before {
  content: "\7d";
}
.cf-hand-o-right:before {
  content: "\7e";
}
.cf-hand-o-up:before {
  content: "\5c";
}
.cf-hand-pointer-o:before {
  content: "\e000";
}
.cf-heart:before {
  content: "\e001";
}
.cf-heart-o:before {
  content: "\e002";
}
.cf-home:before {
  content: "\e003";
}
.cf-laptop:before {
  content: "\e004";
}
.cf-list:before {
  content: "\e005";
}
.cf-leaf:before {
  content: "\e006";
}
.cf-pinterest-square:before {
  content: "\e007";
}
.cf-pinterest-p:before {
  content: "\e008";
}
.cf-pencil-square-o:before {
  content: "\e009";
}
.cf-pencil:before {
  content: "\e00a";
}
.cf-pencil-square:before {
  content: "\e00b";
}
.cf-plus:before {
  content: "\e00c";
}
.cf-minus:before {
  content: "\e00d";
}
.cf-map-signs:before {
  content: "\e00e";
}
.cf-quote-right:before {
  content: "\e00f";
}
.cf-quote-left:before {
  content: "\e010";
}
.cf-search:before {
  content: "\e011";
}
.cf-reply:before {
  content: "\e012";
}
.cf-share:before {
  content: "\e013";
}
.cf-share-alt:before {
  content: "\e014";
}
.cf-skype:before {
  content: "\e015";
}
.cf-rss-square:before {
  content: "\e016";
}
.cf-recycle:before {
  content: "\e017";
}
.cf-plus-square:before {
  content: "\e018";
}
.cf-rss:before {
  content: "\e019";
}
.cf-plus-circle:before {
  content: "\e01a";
}
.cf-star:before {
  content: "\e01b";
}
.cf-sort-desc:before {
  content: "\e01c";
}
.cf-sort-asc:before {
  content: "\e01d";
}
.cf-stack-exchange:before {
  content: "\e01e";
}
.cf-tag:before {
  content: "\e01f";
}
.cf-tags:before {
  content: "\e020";
}
.cf-trash-o:before {
  content: "\e021";
}
.cf-trash:before {
  content: "\e022";
}
.cf-thumbs-o-up:before {
  content: "\e023";
}
.cf-thumbs-o-down:before {
  content: "\e024";
}
.cf-thumbs-up:before {
  content: "\e025";
}
.cf-thumbs-down:before {
  content: "\e026";
}
.cf-th-large:before {
  content: "\e027";
}
.cf-th-list:before {
  content: "\e028";
}
.cf-th:before {
  content: "\e029";
}
.cf-times:before {
  content: "\e02a";
}
.cf-times-circle:before {
  content: "\e02b";
}
.cf-university:before {
  content: "\e02c";
}
.cf-twitter-1:before {
  content: "\e02d";
}
.cf-wifi:before {
  content: "\e02e";
}
.cf-beer:before {
  content: "\e02f";
}
.cf-chevron-down-1:before {
  content: "\e030";
}
.cf-chevron-left-1:before {
  content: "\e031";
}
.cf-chevron-right-1:before {
  content: "\e032";
}
.cf-chevron-up-1:before {
  content: "\e033";
}
.cf-delete-garbage-streamline:before {
  content: "\e034";
}
.cf-book-1:before {
  content: "\e035";
}
.cf-book-bookmark:before {
  content: "\e036";
}
.cf-comment-1:before {
  content: "\e037";
}
.cf-archive:before {
  content: "\e038";
}
.cf-list-1:before {
  content: "\e039";
}
.cf-page-multiple:before {
  content: "\e03a";
}
.cf-page-copy:before {
  content: "\e03b";
}
.cf-plus-1:before {
  content: "\e03c";
}
.cf-rss-1:before {
  content: "\e03d";
}
.cf-upload:before {
  content: "\e03e";
}
.cf-upload-cloud:before {
  content: "\e03f";
}
.cf-torsos:before {
  content: "\e040";
}
.cf-torsos-all:before {
  content: "\e041";
}
.cf-torso-female:before {
  content: "\e042";
}
.cf-torso:before {
  content: "\e043";
}
.cf-torsos-all-female:before {
  content: "\e044";
}
.cf-torsos-female-male:before {
  content: "\e045";
}
.cf-torsos-male-female:before {
  content: "\e046";
}
.cf-torso-business:before {
  content: "\e047";
}
.cf-book-2:before {
  content: "\e048";
}
.cf-book-open:before {
  content: "\e049";
}
.cf-cancel:before {
  content: "\e04a";
}
.cf-cancel-squared:before {
  content: "\e04b";
}
.cf-cancel-circled:before {
  content: "\e04c";
}
.cf-comment-2:before {
  content: "\e04d";
}
.cf-cog-1:before {
  content: "\e04e";
}
.cf-down-open:before {
  content: "\e04f";
}
.cf-home-1:before {
  content: "\e050";
}
.cf-folder-1:before {
  content: "\e051";
}
.cf-mail:before {
  content: "\e052";
}
.cf-quote:before {
  content: "\e053";
}
.cf-phone-2:before {
  content: "\e054";
}
.cf-pencil-1:before {
  content: "\e055";
}
.cf-signal:before {
  content: "\e056";
}
.cf-right:before {
  content: "\e057";
}
.cf-right-bold:before {
  content: "\e058";
}
.cf-right-open-mini:before {
  content: "\e059";
}
.cf-suitcase:before {
  content: "\e05a";
}
.cf-thumbs-up-1:before {
  content: "\e05b";
}
.cf-thumbs-down-1:before {
  content: "\e05c";
}
.cf-vcard:before {
  content: "\e05d";
}
.cf-paperclip:before {
  content: "\e05e";
}
.cf-paperclip-1:before {
  content: "\e05f";
}
.cf-paperclip-2:before {
  content: "\e060";
}
.cf-paper-plane-o:before {
  content: "\e061";
}
.cf-paper-plane:before {
  content: "\e062";
}
.cf-clip:before {
  content: "\e063";
}
.cf-files:before {
  content: "\e064";
}
.cf-paper-plane-1:before {
  content: "\e065";
}
.cf-envelope-square:before {
  content: "\e066";
}
.cf-download:before {
  content: "\e067";
}
.cf-graduation-cap:before {
  content: "\e068";
}
.cf-device-mobile:before {
  content: "\e069";
}
.cf-file-directory:before {
  content: "\e06a";
}
.cf-phone-3:before {
  content: "\e06b";
}
.cf-apple:before {
  content: "\e06c";
}
.cf-facebook-square:before {
  content: "\66";
}
.cf-facebook-official:before {
  content: "\67";
}
.cf-facebook-squared:before {
  content: "\68";
}
.cf-facebook-circled:before {
  content: "\69";
}
.cf-twitter-square:before {
  content: "\6a";
}
.cf-youtube-square:before {
  content: "\6b";
}
.cf-instagram:before {
  content: "\6c";
}
.cf-whatsapp:before {
  content: "\6d";
}
.cf-play-video:before {
  content: "\6e";
}
.cf-youtube-play:before {
  content: "\6f";
}
.cf-play-circle-o:before {
  content: "\70";
}
.cf-play-circle:before {
  content: "\71";
}
.cf-play:before {
  content: "\72";
}
.cf-play-1:before {
  content: "\4d";
}
.cf-playback-play:before {
  content: "\35";
}
.cf-volume-up:before {
  content: "\36";
}
.cf-pdf-svgrepo-com-1:before {
  content: "\38";
}
.cf-pdf-svgrepo-com:before {
  content: "\e06d";
}
.cf-clock:before {
  content: "\e06e";
}
.cf-clock-1:before {
  content: "\e06f";
}
