
{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% load mptt_tags %}

{% block content %}
<div class="wrapper author_outer mt-5 dg gap-3">
    <div class="colg_3 dfc gap-2">
        <h2 class="block_title">
            <span class="pr-2 wh-bg">{{ author.name|default:"पोर्टल रिपोर्टर" }}</span>
        </h2>
        {% with author_display=author.get_author_display %}
            <img src="{{ author_display.image }}" alt="{{ author_display.name|default:'पोर्टल रिपोर्टर' }}">
        {% endwith %}
    </div>
    
    <div class="col-9 author_wrap">
        <p>{{ author.short_description|default:"No description available." }}</p>        
    </div>
</div>
{% endblock %}


