{% load static %}
{% load mptt_tags %}
{% load custom_filters %}
<!-- {% static "images" as baseURL %} -->
{% static "images" as baseURL_images %}


<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Latest news and updates from around the world.">
	<meta name="keywords" content="news, updates, world, politics, sports, entertainment">
	<meta name="author" content="News Portal">
	<meta property="og:title" content="News Portal">
	<meta property="og:description" content="Latest news and updates from around the world.">
	<meta property="og:image" content="{%static 'images/logo.png' %}">
	<meta property="og:url" content="https://News Portal.com/">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="News Portal">
	<meta name="twitter:description" content="Latest news and updates from around the world.">
	<meta name="twitter:image" content="{%static 'images/logo.png' %}">
	<title>{{ title|default:'News Portal' }}</title>

	<!-- custom favicon -->
	<link rel="icon" href="{% static 'images/fav.png' %}" type="image/png">	

	<link rel="stylesheet" href="{% static 'css/font-styles.css' %}"> 
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}"> 
	<link rel="stylesheet" href="{% static 'css/front.css' %}">
</head>
<body>
	<script src="{% static 'js/jquery-3.5.0.min.js' %}"></script> 
	<script src="{% static 'js/owl.carousel.min.js' %}"></script> 
	<script src="{% static 'js/main.js' %}"></script> 

	<header class="header wrapper py-2 dg gap-3">
		<div class="logo_div col_3 dfc gap-1">
			{% if logo and logo.image %}
                <a class="logo hide_on_mobile" href="{% url 'home' %}">
                    <img src="{{ logo.image.file.url }}" alt="{{ logo.title }}">
                </a>
            {% else %}
                <a class="logo hide_on_mobile" href="{% url 'home' %}">
                    <img src="https://placehold.jp/ec131e/ffffff/290x90.png?text=Logo" alt="Default Logo">
                </a>
            {% endif %}
			<time class="gr">{{ ""|current_nepali_date }}</time>
		</div>				
		{% get_ads_by_position 'header-right' as ads %}
		{% for ad in ads %}
			<a class="ad-wrap col_9" href="{{ ad.link|default:'#' }}" target="_blank">
				<img src="{{ ad|ad_image }}" alt="{{ ad.name|default:'Advertisement' }}">
			</a>
		{% endfor %}
	</header>

	<nav class="nav">
		<div class="wrapper df">
			<div class="nav_inner">
				<a href="{% url 'home' %}" class="logo hide_on_desktop">
                    {% if logo and logo.image %}
                        <img src="{{ logo.image.file.url }}" alt="{{ logo.title }}">
                    {% else %}
                        <img src="https://placehold.jp/ec131e/ffffff/290x90.png?text=Logo" alt="Default Logo">
                    {% endif %}
                </a>
				<button class="nav_toggler">
					<i class="cf cf-bars toggler"></i>
				</button>
				<ul class="nav_ul df">
					<li class="nav_li">
						<a href="{% url 'home' %}"
							class="nav_a h5 db blu {% if request.path == '/' %} active {% endif %}">
							<i class="cf cf-home"></i>
						</a>
					</li>

					{% if categories|length > 0 %}
					{% recursetree categories %}
					<li class="nav_li {% if node.name == 'अन्य' %} drop {% endif %}">
						<a href="{% url 'category_page' node.name %}"
							class="nav_a h5 db {% if request.path == '/'|add:node.name|add:'/' %} active {% endif %}">
							{{ node.name }}
						</a>
						{% if node.get_descendants %}
						<ul class="submnu">
							{% for child in node.get_descendants %}
							{% if child != node %}
							<li class="submnu_item">
								<a href="{% url 'category_page' child.name %}" class="submnu_link h6 db">
									{{ child.name }}
								</a>
							</li>
							{% endif %}
							{% endfor %}
						</ul>
						{% endif %}
					</li>
					{% endrecursetree %}
					{% else %}
					<li>No categories available.</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
