{% extends 'base.html' %}
{% load static %}
{% block content %}

	<a class="wrapper mt-5 ad-wrap" href="#">
		<img src="{% static 'images/ad-header.gif' %}" alt="ad-header">
	</a>

	<div class="banner wrapper mt-5 dfc gap-3 pb-5">
		<a class="h1" href="#">जसपा विभाजनप्रति असन्तुष्ट माधव नेपालले भनेः सरकारमा बस्ने कि नबस्ने निर्णय गर्ने बेला आयो</a>
		<a class="writer df gap-1" href="#">
			<img src="https://placehold.jp/ec131e/ffffff/290x90.png?text=Logo">
			<span class="gr">समाचार पोर्टल</span>
		</a>
		<div class="img-outer br-2">
			<img src="{% static 'images/ss.jpg' %}" alt="ss">
		</div>
	</div>

	<div class="banner wrapper mt-5 dfc gap-3 pb-5">
		<a class="h1" href="#">शिक्षक/कर्मचारी दलको सदस्य हुन नपाउने कानुनी व्यवस्था कार्यान्वयन गरिने</a>
		<a class="writer df gap-1" href="#">
			<img src="https://placehold.jp/ec131e/ffffff/290x90.png?text=Logo">
			<span class="gr">समाचार पोर्टल</span>
		</a>
		<div class="img-outer br-2">
			<img src="{% static 'images/niti.jpg' %}" alt="niti">
		</div>
	</div>
	

	<a class="wrapper mt-5 ad-wrap" href="#">
		<img src="{% static 'images/naree.gif' %}" alt="naree">
	</a>

	<div class="wrapper mt-5 dg gap-3">
		<div class="main col_9 dg gap-2">
			<a class="wrapper ad-wrap col_12 no-padding" href="#">
				<img src="{% static 'images/maruti.gif' %}" alt="maruti">
			</a>
			<article class="main_item">
				<a class="link dfc gap-1" href="#">
					<aside class="img-outer br-1">
						<img src="{% static 'images/ss.jpg' %}" alt="ss">
					</aside>
					<h2 class="title">जसपा विभाजनप्रति असन्तुष्ट माधव नेपालले भनेः सरकारमा बस्ने कि नबस्ने निर्णय गर्ने बेला आयो</h2>
				</a>
			</article>
			<article class="main_item">
				<a class="link dfc gap-1" href="#">
					<aside class="img-outer br-1">
						<img src="{% static 'images/niti.jpg' %}" alt="niti">
					</aside>
					<h2 class="title">शिक्षक/कर्मचारी दलको सदस्य हुन नपाउने कानुनी व्यवस्था कार्यान्वयन गरिने</h2>
				</a>
			</article>
			<a class="ad-wrap" href="#">
				<img src="{% static 'images/shivam.gif' %}" alt="shivam">
			</a>
		</div>
		<div class="col_3">
			<h2 class="block_title blu df">
				<span class="pr-2 wh-bg">ताजा अपडेट</span>
			</h2>
			<div class="right recent dfc">
				<a class="item df gap-1" href="#">
					<aside class="img-outer br-1">
						<img src="{% static 'images/Pradesh.jpg' %}" alt="jcb">
					</aside>
					<h5 class="title">मन्त्री सवार गाडी दुर्घटनाको कारण चालकको अदक्षता</h5>
				</a>
				<a class="item df gap-1" href="#">
					<aside class="img-outer br-1">
						<img src="{% static 'images/shrestha.jpg' %}" alt="jcb">
					</aside>
					<h5 class="title">वरिष्ठतम् न्यायाधीश श्रेष्ठले सम्हाले सर्वोच्चको नेतृत्व</h5>
				</a>
				<a class="item df gap-1" href="#">
					<aside class="img-outer br-1">
						<img src="{% static 'images/pahiro.jpg' %}" alt="jcb">
					</aside>
					<h5 class="title">दोलखामा पहिरो जाँदा एक जनाको मृत्यु, तीन जना बेपत्ता</h5>
				</a>
				<a class="item df gap-1" href="#">
					<aside class="img-outer br-1">
						<img src="{% static 'images/ncps.jpeg' %}" alt="jcb">
					</aside>
					<h5 class="title">कीर्तिपुरमा एकीकृत समाजवादीको सचिवालय बैठक सुरु</h5>
				</a>
				<a class="item df gap-1" href="#">
					<aside class="img-outer br-1">
						<img src="{% static 'images/shrestha.jpg' %}" alt="jcb">
					</aside>
					<h5 class="title">वरिष्ठतम् न्यायाधीश श्रेष्ठले सम्हाले सर्वोच्चको नेतृत्व</h5>
				</a>
				<a class="item df gap-1" href="#">
					<aside class="img-outer br-1">
						<img src="{% static 'images/pahiro.jpg' %}" alt="jcb">
					</aside>
					<h5 class="title">दोलखामा पहिरो जाँदा एक जनाको मृत्यु, तीन जना बेपत्ता</h5>
				</a>


			</div>
		</div>
	</div>

	<a class="wrapper mt-5 ad-wrap" href="#">
		<img src="{% static 'images/scarpio.gif' %}" alt="scarpio">
	</a>

	<div class="wrapper mt-5 dg gap-3">
		<div class="col_9">
			<h2 class="block_title blu df">
				<span class="pr-2 wh-bg">मुख्य समाचार</span>
				<a class="block_link pl-2 wh-bg df gap-1" href="#">सबै
					<i class="cf cf-list-alt"></i>
				</a>
			</h2>

			<div class="left news dg gap-2">
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/school.webp' %}">
					</aside>
					<a class="title db" href="#">विद्यालय शिक्षा विधेयकविरुद्ध निजी विद्यालयहरूद्वारा आन्दोलनको घोषणा</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/india.jpg' %}">
					</aside>
					<a class="title db" href="#">अल्पमतमा रहेको इण्डिया गठबन्धनले किन ल्यायो मोदीविरुद्ध अविश्वास प्रस्ताव ?</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/rajmarga.jpg' %}">
					</aside>
					<a class="title db" href="#">वीपी राजमार्ग एकतर्फी रुपमा सञ्चालन</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/giri.jpg' %}">
					</aside>
					<a class="title db" href="#">कालीगण्डकी बचाऔं अभियानका अभियन्ता आरके अदिप्तविरुद्ध पक्राउ पुर्जी जारी</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/staff.jpg' %}">
					</aside>
					<a class="title db" href="#">कामबाट निकालेपछि आन्दोलनमा उत्रिए बुढीगंगाका कर्मचारी</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/rajmarga.jpg' %}">
					</aside>
					<a class="title db" href="#">वीपी राजमार्ग एकतर्फी रुपमा सञ्चालन</a>
				</article>
			</div>

		</div>

		<div class="col_3 dfc gap-2">
			<a class="ad-wrap" href="#">
				<img src="{% static 'images/ime.gif' %}" alt="ime">
			</a>
			<a class="ad-wrap" href="#">
				<img src="{% static 'images/tata.gif' %}" alt="tata">
			</a>
			<a class="ad-wrap" href="#">
				<img src="{% static 'images/sales.gif' %}" alt="sales">
			</a>
		</div>
	</div>

	<a class="wrapper mt-5 ad-wrap" href="#">
		<img src="{% static 'images/nic.gif' %}" alt="nic">
	</a>

	<div class="wrapper mt-5 dg gap-3">
		<div class="col_9">
			<h2 class="block_title blu df">
				<span class="pr-2 wh-bg">राजनीति</span>
				<a class="block_link pl-2 wh-bg df gap-1" href="#">सबै
					<i class="cf cf-list-alt"></i>
				</a>
			</h2>
			<div class="full dg gap-2">
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/rabi.png' %}">
					</aside>
					<a class="title db" href="#">सरकारले सिनामंगलबाट तस्करलाई लात्ताले प्वाक्क हानेर छाड्यो : रवि लामिछाने</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/daman.jpg' %}">
					</aside>
					<a class="title db" href="#">संसद्‍मा पुग्यो तामाङ समुदायमाथि दमनको विषय</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/rabi.png' %}">
					</aside>
					<a class="title db" href="#">संसद्‌मा रविको प्रश्न– तीन नेता मिलेर रातारात किन बार्गेनिङ नगरेको?</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/bisho.png' %}">
					</aside>
					<a class="title db" href="#">एमालेलाई विश्वप्रकाशको प्रश्न : संसद् अवरोध भइरहँदा सत्तापक्षले बोल्न रत्नपार्क जानु पर्ने हो?</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/sitaula.jpg' %}">
					</aside>
					<a class="title db" href="#">कृष्ण सिटौला भन्छन् : संविधान र गणतन्त्र आयो, हामीले के पायौँ भनेर जनताले सोध्न थाले</a>
				</article>
			</div>
		</div>
		<div class="col_3">
			<h2 class="block_title blu df">
				<span class="pr-2 wh-bg">शिक्षा</span>
				<a class="block_link pl-2 wh-bg df gap-1" href="#">सबै
					<i class="cf cf-list-alt"></i>
				</a>
			</h2>
			<div class="right edu dfc">
				<a class="item df gap-1" href="#">
					<aside class="img-outer br-1">
						<img src="{% static 'images/Pradesh.jpg' %}" alt="jcb">
					</aside>
					<h5 class="title">मन्त्री सवार गाडी दुर्घटनाको कारण चालकको अदक्षता</h5>
				</a>
				<a class="item df gap-1" href="#">
					<aside class="img-outer br-1">
						<img src="{% static 'images/shrestha.jpg' %}" alt="jcb">
					</aside>
					<h5 class="title">वरिष्ठतम् न्यायाधीश श्रेष्ठले सम्हाले सर्वोच्चको नेतृत्व</h5>
				</a>
				<a class="item df gap-1" href="#">
					<aside class="img-outer br-1">
						<img src="{% static 'images/pahiro.jpg' %}" alt="jcb">
					</aside>
					<h5 class="title">दोलखामा पहिरो जाँदा एक जनाको मृत्यु, तीन जना बेपत्ता</h5>
				</a>
				<a class="item df gap-1" href="#">
					<aside class="img-outer br-1">
						<img src="{% static 'images/ncps.jpeg' %}" alt="jcb">
					</aside>
					<h5 class="title">कीर्तिपुरमा एकीकृत समाजवादीको सचिवालय बैठक सुरु</h5>
				</a>

			</div>
		</div>
	</div>

	<a class="wrapper mt-5 ad-wrap" href="#">
		<img src="{% static 'images/maruti.gif' %}" alt="maruti">
	</a>

	<div class="wrapper mt-5">
		<h2 class="block_title center blu df">
			<span class="pr-2 wh-bg">स्वास्थ्य र जीवनशैली</span>
			<a class="block_link pl-2 wh-bg df gap-1" href="#">सबै
				<i class="cf cf-list-alt"></i>
			</a>
		</h2>
		<div class="left dg gap-2">
			<article class="item">
				<aside class="img-outer br-1">
					<img src="{% static 'images/kera.webp' %}" alt="kera">
				</aside>
				<a class="title db" href="#">खाली पेटमा के-के खानु हुँदैन ?</a>
			</article>
			<article class="item">
				<aside class="img-outer br-1">
					<img src="{% static 'images/salad.jpg' %}" alt="salad">
				</aside>
				<a class="title db" href="#">सलाद खाँदा हुने फाइदा</a>
			</article>
			<article class="item">
				<aside class="img-outer br-1">
					<img src="{% static 'images/berd.jpg' %}" alt="berd">
				</aside>
				<a class="title db" href="#">बर्दगोरिया पूर्ण खोप सुनिश्चितता पालिका घोषणा</a>
			</article>
			<article class="item">
				<aside class="img-outer br-1">
					<img src="{% static 'images/life.jpeg' %}" alt="life">
				</aside>
				<a class="title db" href="#">सफल दाम्पत्य जीवन</a>
			</article>
			<article class="item">
				<aside class="img-outer br-1">
					<img src="{% static 'images/om.jpg' %}" alt="om">
				</aside>
				<a class="title db" href="#">थाइराइड अनियन्त्रित हुँदा जुनसुकै अंगमा पनि असर गर्न सक्छ</a>
			</article>
			<article class="item">
				<aside class="img-outer br-1">
					<img src="{% static 'images/berd.jpg' %}" alt="berd">
				</aside>
				<a class="title db" href="#">बर्दगोरिया पूर्ण खोप सुनिश्चितता पालिका घोषणा</a>
			</article>
		</div>
	</div>

	<a class="wrapper mt-5 ad-wrap" href="#">
		<img src="{% static 'images/naree.gif' %}" alt="naree">
	</a>

	<div class="wrapper mt-5">
		<h2 class="block_title blu df">
			<span class="pr-2 wh-bg">अर्थ / वाणिज्य</span>
			<a class="block_link pl-2 wh-bg df gap-1" href="#">सबै
				<i class="cf cf-list-alt"></i>
			</a>
		</h2>

		<div class="artha dg gap-2">
			<article class="item">
				<aside class="img-outer br-1">
					<img src="{% static 'images/mahat.jpg' %}" alt="mahat">
				</aside>
				<a class="title db" href="#">सेयर बजारमा सीमित व्यक्तिले मात्रै फाइदा उठाउने प्रवृत्तिको अन्त्य हुनुपर्छ : अर्थमन्त्री</a>
			</article>
			<article class="item">
				<aside class="img-outer br-1">
					<img src="{% static 'images/chiya.jpg' %}" alt="chiya">
				</aside>
				<a class="title db" href="#">चिया कफी प्रवर्धन गर्दै खोटाङका स्थानीय तह</a>
			</article>
			<article class="item">
				<aside class="img-outer br-1">
					<img src="{% static 'images/raksi.jpg' %}" alt="raksi">
				</aside>
				<a class="title db" href="#">घरेलु मदिरा ‘ब्रान्डिङ’ गर्दै मानेभञ्ज्याङ</a>
			</article>
			<article class="item">
				<aside class="img-outer br-1">
					<img src="{% static 'images/sadak.jpg' %}" alt="sadak">
				</aside>
				<a class="title db" href="#">राजमार्ग सुधारका लागि ४० अर्ब ऋण</a>
			</article>
			<article class="item">
				<aside class="img-outer br-1">
					<img src="{% static 'images/samsad.jpg' %}" alt="samsad">
				</aside>
				<a class="title db" href="#">संसदमा बजेटको सिद्धान्त र प्राथमिकता प्रस्तुत</a>
			</article>
			<article class="item">
				<aside class="img-outer br-1">
					<img src="{% static 'images/tal.jpg' %}" alt="tal">
				</aside>
				<a class="title db" href="#">पाँचबुँदे घोषणापत्र जारी गर्दै सकियो पोखरा ताल सम्मेलन</a>
			</article>

		</div>

	</div>

	<a class="wrapper mt-5 ad-wrap" href="#">
		<img src="{% static 'images/maruti.gif' %}" alt="maruti">
	</a>

	<div class="wrapper mt-5 dg gap-3">
		<div class="col_9">
			<h2 class="block_title blu df">
				<span class="pr-2 wh-bg">अन्तर्राष्ट्रिय</span>
				<a class="block_link pl-2 wh-bg df gap-1" href="#">सबै
					<i class="cf cf-list-alt"></i>
				</a>
			</h2>
			<div class="left3 inter dg gap-2">
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/adhi.jpg' %}" alt="adhi">
					</aside>
					<a class="title db" href="#">अमेरिकामा आँधी: १० लाख घरमा बिजुली गयो, पाँच करोड मानिस प्रभावित</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/syrup.jpg' %}" alt="syrup">
					</aside>
					<a class="title db" href="#">भारतीय कम्पनीको कफ सिरप प्रयोग नगर्न विश्व स्वास्थ्य संगठनको चेतावनी</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/rahul.webp' %}" alt="rahul">
					</aside>
					<a class="title db" href="#">संसदमा फर्किए राहुल गान्धी, स्वागतमा नाराबाजी, मिठाइ बाँडियो</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/default.jpg' %}" alt="default">
					</aside>
					<a class="title db" href="#">कम्बोडियाको नयाँ प्रधानमन्त्रीमा हुन सेनका जेठा छोरा</a>
				</article>
			</div>
		</div>
		<div class="col_3 p-2 br-2 light-bg">
			<h2 class="block_title blu df">
				<span class="pr-2 light-bg">बिचार</span>
				<a class="block_link pl-2 light-bg df gap-1" href="#">सबै
					<i class="cf cf-list-alt"></i>
				</a>
			</h2>
			<div class="bichar dg">
				<article class="item df gap-1">
					<aside class="img-outer br-1">
						<img src="{% static 'images/buddhi.png' %}" alt="buddhi">
					</aside>
					<aside class="text-wrap dfc gap-1">
						<a class="title db" href="#">धर्मनिरपेक्षता : बहुसङ्ख्यक नेपालीको मनोविज्ञानमा चोट !</a>
						<span class="writer blu h5 db">बुद्धिसागर भट्टराई</span>
					</aside>
				</article>
				<article class="item df gap-1">
					<aside class="img-outer br-1">
						<img src="{% static 'images/rc.jpg' %}" alt="rc">
					</aside>
					<aside class="text-wrap dfc gap-1">
						<a class="title db" href="#">ओरालो लाग्दा कम्युनिष्ट पार्टीहरु र आशलाग्दा प्रचण्ड</a>
						<span class="writer blu h5 db">डा. आर. सी. लामिछाने</span>
					</aside>
				</article>

			</div>
		</div>
	</div>

	<a class="wrapper mt-5 ad-wrap" href="#">
		<img src="{% static 'images/scarpio.gif' %}" alt="maruti">
	</a>

	<div class="wrapper mt-5 dg gap-3">

		<div class="col_9">
			<h2 class="block_title blu df">
				<span class="pr-2 wh-bg">अन्तरवार्ता</span>
				<a class="block_link pl-2 wh-bg df gap-1" href="#">सबै
					<i class="cf cf-list-alt"></i>
				</a>
			</h2>

			<div class="intv dg gap-2">
				<article class="item df gap-1">
					<aside class="img-outer br-1">
						<img src="{% static 'images/sarad.jpg' %}" alt="sarad">
					</aside>
					<aside class="text-wrap dfc gap-1">
						<a class="title db" href="#">श्रम बजारअनुसार श्रमिकको ‘ब्राण्डिङ’ गरिनेछ : मन्त्री भण्डारी</a>
						<span class="writer blu h5 db">शरतसिंह भण्डारी श्रम, मन्त्री रोजगार तथा सामाजिक सुरक्षा</span>
					</aside>
				</article>
				<article class="item df gap-1">
					<aside class="img-outer br-1">
						<img src="{% static 'images/bal.jpeg' %}" alt="bal">
					</aside>
					<aside class="text-wrap dfc gap-1">
						<a class="title db" href="#">पत्रकारितामा परीक्षा प्रणाली लागू गर्नुपर्छ : अध्यक्ष बस्नेत</a>
						<span class="writer blu h5 db">बालकृष्ण बस्नेत, अध्यक्ष प्रेस काउन्सिल नेपाल   </span>
					</aside>
				</article>
			</div>

		</div>
		<div class="col_3">
			<h2 class="block_title blu df">
				<span class="pr-2 wh-bg">स्थानीय तह</span>
				<a class="block_link pl-2 wh-bg df gap-1" href="#">सबै
					<i class="cf cf-list-alt"></i>
				</a>
			</h2>
			<div class="right local dfc">
				<a class="item df gap-1" href="#">
					<aside class="img-outer br-1">
						<img src="{% static 'images/Pradesh.jpg' %}" alt="jcb">
					</aside>
					<h5 class="title">मन्त्री सवार गाडी दुर्घटनाको कारण चालकको अदक्षता</h5>
				</a>
				<a class="item df gap-1" href="#">
					<aside class="img-outer br-1">
						<img src="{% static 'images/shrestha.jpg' %}" alt="jcb">
					</aside>
					<h5 class="title">वरिष्ठतम् न्यायाधीश श्रेष्ठले सम्हाले सर्वोच्चको नेतृत्व</h5>
				</a>
				<a class="item df gap-1" href="#">
					<aside class="img-outer br-1">
						<img src="{% static 'images/pahiro.jpg' %}" alt="jcb">
					</aside>
					<h5 class="title">दोलखामा पहिरो जाँदा एक जनाको मृत्यु, तीन जना बेपत्ता</h5>
				</a>

			</div>
		</div>
	</div>

	<a class="wrapper mt-5 ad-wrap" href="#">
		<img src="{% static 'images/maruti.gif' %}" alt="maruti">
	</a>

	<section class="mt-5 py-5 bl-ful">
		<div class="wrapper">
			<h2 class="block_title center wh df">
				<span class="pr-2 bl-ful">आजको तस्बिर</span>
			</h2>
			<div class="today-pic pb-4 owl-carousel owl-theme">	
							
				<article class="item br-2 df p-2" style="background:url('static/images/janaki.jpg');">
					<a class="h1 db" href="#">साँझमा झिलिमिली जानकी मन्दिर</a>
				</article>
				<article class="item br-2 df p-2" style="background:url('static/images/falful.jpg');">
					<a class="h1 db" href="#">घर खर्च चलाउन फलफूल व्यापार</a>
				</article>
			</div>
		</div>
	</section>

	<a class="wrapper mt-5 ad-wrap" href="#">
		<img src="{% static 'images/jag.gif' %}" alt="jag">
	</a>

	<div class="wrapper mt-5 dg gap-3">
		<div class="col_9">
			<h2 class="block_title blu df">
				<span class="pr-2 wh-bg">सूचना-प्रविधि</span>
				<a class="block_link pl-2 wh-bg df gap-1" href="#">सबै
					<i class="cf cf-list-alt"></i>
				</a>
			</h2>
			<div class="suchana dg gap-2">
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/iphone.jpg' %}" alt="iphone">
					</aside>
					<a class="title db" href="#">प्रधानमन्त्रीको निर्देशनपछि एमडीएमएसको कार्यान्वयन स्थगित</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/child.jpg' %}" alt="child">
					</aside>
					<a class="title db" href="#">स्मार्टफोनले बच्चाको मानसिक स्वास्थ्यमा क्षति</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/mooo.jpg' %}" alt="mooo">
					</aside>
					<a class="title db" href="#">नेपालमा सुरु भयो एमडीएमएस,अब अनधिकृत मोबाइल नचल्ने</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/twi.webp' %}" alt="twi">
					</aside>
					<a class="title db" href="#">अब ट्वीटरमा अक्षर सीमा हटाइने</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/mob.webp' %}" alt="mob">
					</aside>
					<a class="title db" href="#">दर्ता नभएका मोबाइल आजदेखि नचल्ने</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/child.jpg' %}" alt="child">
					</aside>
					<a class="title db" href="#">स्मार्टफोनले बच्चाको मानसिक स्वास्थ्यमा क्षति</a>
				</article>
			</div>
		</div>
		<div class="col_3">
			<h2 class="block_title blu df">
				<span class="pr-2 wh-bg">संसद</span>
				<a class="block_link pl-2 wh-bg df gap-1" href="#">सबै
					<i class="cf cf-list-alt"></i>
				</a>
			</h2>
			<div class="right samsad dfc">
				<a class="item df gap-1" href="#">
					<aside class="img-outer br-1">
						<img src="{% static 'images/ram.jpeg' %}" alt="ram">
					</aside>
					<h5 class="title">भ्रष्टाचारविरुद्ध शून्य सहनशीलताको नीतिलाई थप कडाइ गर्ने</h5>
				</a>
				<a class="item df gap-1" href="#">
					<aside class="img-outer br-1">
						<img src="{% static 'images/sam.jpg' %}" alt="sam">
					</aside>
					<h5 class="title">प्रतिनिधिसभा बैठक : बजेटमाथि उठेका प्रश्नको मन्त्रीहरूले जवाफ दिने</h5>
				</a>

			</div>
		</div>
	</div>

	<a class="wrapper mt-5 ad-wrap" href="#">
		<img src="{% static 'images/nic.gif' %}" alt="nic">
	</a>

	<div class="wrapper mt-5 dg gap-3">
		<div class="col_9">
			<h2 class="block_title blu df">
				<span class="pr-2 wh-bg">संस्कृति-कला-साहित्य</span>
				<a class="block_link pl-2 wh-bg df gap-1" href="#">सबै
					<i class="cf cf-list-alt"></i>
				</a>
			</h2>
			<div class="left dg gap-2">
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/let.png' %}" alt="let">
					</aside>
					<a class="title db" href="#">डा.लामिछानेको एप्रिसिएटिभ ईन्क्वारीको अंग्रेजी गीत सार्वजानीक</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/rasmi.jpeg' %}" alt="rasmi">
					</aside>
					<a class="title db" href="#">सांगीतिक दुनियाँमा छाउँदै गायिका रश्मी राई</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/mod.jpeg' %}" alt="mod">
					</aside>
					<a class="title db" href="#">‘सधैँ यस्ता मीठा कुरा’ सार्वजनिक</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/musu.png' %}" alt="musu">
					</aside>
					<a class="title db" href="#">डा. आर सी लामिछानेको ‘मुसुमुसु हास्दै बोल्ने’ गीत सार्वजानीक</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/muna.jpg' %}" alt="muna">
					</aside>
					<a class="title db" href="#">मिस हेरिटेज ग्लोबलमा नेपालकी मुना</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/mod.jpeg' %}" alt="mod">
					</aside>
					<a class="title db" href="#">‘सधैँ यस्ता मीठा कुरा’ सार्वजनिक</a>
				</article>
			</div>
		</div>

		<div class="col_3">
			<div class="p-2 br-2 light-bg">
				<h2 class="block_title blu df">
					<span class="pr-2 light-bg">पत्रपत्रिका</span>
					<a class="block_link light-bg pl-2 df gap-1" href="#">सबै
						<i class="cf cf-list-alt"></i>
					</a>
				</h2>
				<div class="right patrika dfc">
					<a class="item df gap-1" href="#">
						<aside class="img-outer br-1">
							<img src="{% static 'images/cong.jpg' %}" alt="cong">
						</aside>
						<h5 class="title">कांग्रेसमा नयाँ प्रयोग, शैली पुरानै</h5>
					</a>
					<a class="item df gap-1" href="#">
						<aside class="img-outer br-1">
							<img src="{% static 'images/jus.jpg' %}" alt="jus">
						</aside>
						<h5 class="title">‘न्याय पाउने आशा मर्‍यो’</h5>
					</a>
					<a class="item df gap-1" href="#">
						<aside class="img-outer br-1">
							<img src="{% static 'images/yuva.jpg' %}" alt="yuva">
						</aside>
						<h5 class="title">वैदेशिक रोजगारबाट फर्किनेलाई उद्यमी बनाउँदै स्थानीय तह</h5>
					</a>

				</div>
			</div>
		</div>
	</div>

	<a class="wrapper mt-5 ad-wrap" href="#">
		<img src="{% static 'images/maruti.gif' %}" alt="maruti">
	</a>

	<div class="wrapper mt-5 dg gap-3">
		<div class="col_9">
			<h2 class="block_title blu df">
				<span class="pr-2 wh-bg">विविध</span>
				<a class="block_link wh-bg pl-2 df gap-1" href="#">सबै
					<i class="cf cf-list-alt"></i>
				</a>
			</h2>
			<div class="vivid dg gap-2">
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/kam.jpg' %}" alt="kam">
					</aside>
					<a class="title db" href="#">काँडा खोलामा पुल निर्माणले लियो गति, निर्धारित समय अगावै सक्ने लक्ष्य</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/sun.jpg' %}" alt="sun">
					</aside>
					<a class="title db" href="#">एक वर्षमा भित्रियो साढे ३ हजार किलो सुन</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/bida.jpg' %}" alt="bida">
					</aside>
					<a class="title db" href="#">कैलालीका चार स्थानीय तहले दिए कमैया मुक्ति दिवसको बिदा</a>
				</article>
			</div>
		</div>
		<div class="col_3 dfc gap-2">
			<a class="ad-wrap" href="#">
				<img src="{% static 'images/tata.gif' %}" alt="tata">
			</a>
			<a class="ad-wrap" href="#">
				<img src="{% static 'images/sales.gif' %}" alt="sales">
			</a>
		</div>
	</div>

	<a class="wrapper mt-5 ad-wrap" href="#">
		<img src="{% static 'images/scarpio.gif' %}" alt="scarpio">
	</a>

	<section class="mt-5 py-5 blue-bg">
		<div class="wrapper">
			<h2 class="block_title center wh df">
				<span class="pr-2 blue-bg">मनोरञ्जन</span>
				<a class="block_link pl-2 blue-bg wh df gap-1" href="#">सबै
					<i class="cf cf-list-alt"></i>
				</a>
			</h2>
			<div class="kala dg gap-2">
				<article class="item br-2 df p-2" style="background:url('static/images/miss.jpg');">
					<a class="h3 db wh" href="#">आयोजकबाट यौन दुर्व्यवहार भएको भन्दै मिस युनिभर्स इण्डोनेसियाका प्रतिस्पर्धीले दिए उजुरी</a>
				</article>
				<article class="item br-2 df p-2" style="background:url('static/images/tory.jpg');">
					<a class="h3 db wh" href="#">क्यानेडियन र्‍यापर टोरी लानेजलाई १० वर्षको जेल सजाय</a>
				</article>
				<article class="item br-2 df p-2" style="background:url('static/images/yas.jpg');">
					<a class="h3 db wh" href="#">यश कुमारको ‘सुस्तरी सुस्तरी’मा सडकमा मकै पोलेर गुजारा गर्ने युवती र नगरप्रहरीको कथा</a>
				</article>

			</div>
		</div>
	</section>

	<a class="wrapper mt-5 ad-wrap" href="#">
		<img src="{% static 'images/naree.gif' %}" alt="naree">
	</a>

	<div class="wrapper mt-5 dg gap-3">
		<div class="col_4">
			<h2 class="block_title blu df">
				<span class="pr-2 wh-bg">कृषि</span>
				<a class="block_link wh-bg pl-2 df gap-1" href="#">सबै
					<i class="cf cf-list-alt"></i>
				</a>
			</h2>
			<div class="onethird dg gap-2">
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/sana.jpg' %}" alt="sana">
					</aside>
					<a class="title db" href="#">कृषि प्रवर्द्धन गर्न साना किसानले दियो हाते ट्रयाक्टर</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/dhan.jpg' %}" alt="dhan">
					</aside>
					<a class="title db" href="#">बर्दगोरियाले मनायो २० औँ राष्ट्रिय धान दिवस, कस्तो छ पालिकाको कृषि नीति?</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/maha.jpg' %}" alt="maha">
					</aside>
					<a class="title db" href="#">बजार पाएन मौरीले</a>
				</article>

			</div>
		</div>
		<div class="col_4">
			<h2 class="block_title blu df">
				<span class="pr-2 wh-bg">पर्यटन</span>
				<a class="block_link wh-bg pl-2 df gap-1" href="#">सबै
					<i class="cf cf-list-alt"></i>
				</a>
			</h2>
			<div class="onethird dg gap-2">
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/khap.jpg' %}" alt="khap">
					</aside>
					<a class="title db" href="#">खप्तड क्षेत्र विकास कोष स्थापना गर्ने प्रधानमन्त्रीको घोषणा</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/fes.jpg' %}" alt="fes">
					</aside>
					<a class="title db" href="#">फेवातालमा नेपाल-चीन फ्रेन्डसिप ड्रागन बोट रेस फेस्टिभल आजदेखि</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/para.jpg' %}" alt="para">
					</aside>
					<a class="title db" href="#">प्याराग्लाइडिङ उडान अनिश्चितकालका लागि बन्द</a>
				</article>

			</div>
		</div>
		<div class="col_4">
			<h2 class="block_title blu df">
				<span class="pr-2 wh-bg">खेलकूद</span>
				<a class="block_link wh-bg pl-2 df gap-1" href="#">सबै
					<i class="cf cf-list-alt"></i>
				</a>
			</h2>
			<div class="onethird dg gap-2">
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/cri.jpg' %}" alt="cri">
					</aside>
					<a class="title db" href="#">आयरल्याण्डसँग पहिलो पटक ओडीआई खेल खेल्दै नेपाल</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/cri2.jpg' %}" alt="cri2">
					</aside>
					<a class="title db" href="#">एसीसी कपको उपाधि नेपाललाई, एसिया कपमा छनोट</a>
				</article>
				<article class="item">
					<aside class="img-outer br-1">
						<img src="{% static 'images/cri.jpg' %}" alt="cri">
					</aside>
					<a class="title db" href="#">आयरल्याण्डसँग पहिलो पटक ओडीआई खेल खेल्दै नेपाल</a>
				</article>

			</div>
		</div>
	</div>

	<a class="wrapper mt-5 ad-wrap" href="#">
		<img src="{% static 'images/maruti.gif' %}" alt="maruti">
	</a>

{% endblock %}