{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% load custom_filters %}
{% block content %}
<div class="wrapper mt-5">
    <h2 class="block_title center blu df">
        <span class="pr-2 wh-bg">{{ category.name }}</span>
    </h2>
    <div class="listing">
        {% for news in news_list %}
            <div class="banner mt-2 dfc gap-2 pb-3">
                <aside class="img-outer br-2">
                    <img src="{{ news|news_image }}" alt="{{ news.news_title }}">
                </aside>
                <a class="h1" href="{% url 'newsDetail' news.id %}">{{ news.news_title }}</a>
                <figure class="df gap-2">
                    {% if news.news_author %}
                        <a class="writer df gap-1" href="{% url 'authorDetail' news.news_author.id %}">
                            {% with author_display=news.news_author.get_author_display %}
                                <img src="{{ author_display.image }}" alt="{{ author_display.name }}">
                                <span class="gr">{{ author_display.name }}</span>
                            {% endwith %}
                        </a>
                    {% else %}
                        <div class="writer df gap-1">
                            {% with author_display=flash.news_author.get_author_display %}
                                <img src="{% static 'images/man.jpg' %}" alt="पोर्टल रिपोर्टर">
                                <span class="gr">पोर्टल रिपोर्टर</span>
                            {% endwith %}
                        </div>
                    {% endif %}
                    <figcaption class="df gap-1">
                        <i class="cf cf-clock"></i>
                        <span class="gr">{{ news.published_date|localtime|nepali_date }}</span>
                    </figcaption>
                </figure>
                <p>{{ news.news_desc|truncatewords:30|safe }}</p>
            </div>
        {% endfor %}
        <div class="small mt-3 dg gap-2">
            {% for news in page_obj %}
                {% if not forloop.first %}
                    <article class="item">
                        <aside class="img-outer size-3 br-1">
                            <img src="{{ news|news_image }}" alt="{{ news.news_title }}">
                        </aside>
                        <a class="title db h3 mt-1" href="{% url 'newsDetail' news.id %}">{{ news.news_title }}</a>
                    </article>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="mt-3 paginate col_12 df gap-1">
        <!-- {% if page_obj.has_previous %}
            <a class="prev page-numbers" href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        {% else %}
            <a class="prev page-numbers disabled" href="#">&lt;</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <span aria-current="page" class="page-numbers current">{{ num }}</span>
            {% else %}
                <a class="page-numbers" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="next page-numbers" href="?page={{ page_obj.next_page_number }}">&gt;</a>
        {% else %}
            <a class="next page-numbers disabled" href="#">&gt;</a>
        {% endif %} -->

        

        {% if page_obj.has_previous %}
            <a class="prev page-numbers" href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        {% endif %}
    
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.paginator.num_pages > 7 %}
                {% if num == 1 or num == page_obj.paginator.num_pages or num >= page_obj.number|add:"-2" and num <= page_obj.number|add:"2" %}
                    {% if page_obj.number == num %}
                        <span class="page-numbers current">{{ num }}</span>
                    {% else %}
                        <a class="page-numbers" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% elif num == page_obj.number|add:"-3" or num == page_obj.number|add:"3" %}
                    <span class="page-numbers dots">...</span>
                {% endif %}
            {% else %}
                {% if page_obj.number == num %}
                    <span class="page-numbers current">{{ num }}</span>
                {% else %}
                    <a class="page-numbers" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
    
        {% if page_obj.has_next %}
            <a class="next page-numbers" href="?page={{ page_obj.next_page_number }}">&gt;</a>
        {% endif %}
        
    </div>
</div>
{% endblock %}
